<server description="order domain server">
	<featureManager>
		<feature>javaee-8.0</feature>
		<feature>openapi-3.1</feature>
		<feature>openidConnectClient-1.0</feature>
		<feature>transportSecurity-1.0</feature> <!-- Required for openidConnectClient-1.0 -->
	</featureManager>

	<logging
		traceSpecification="com.ibm.ws.microprofile.health.*=all" />

        <httpAccessLogging id="accessLogging"/>
<!--    <httpEndpoint host="localhost" httpPort="-1" -->
        <httpEndpoint accessLoggingRef="accessLogging" host="*" httpPort="${env.HTTP_PORT}" httpsPort="${env.HTTPS_PORT}" id="defaultHttpEndpoint" />


	<keyStore id="defaultKeyStore"
		type="PKCS12"
		password="Liberty" />

	<jdbcDriver id="H2Driver"
		javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" libraryRef="h2-lib" />
	<library id="h2-lib">
		<fileset dir="${shared.resource.dir}/h2"
			includes="h2-1.4.200.jar" />
	</library>

	<dataSource id="h2-db" jndiName="jdbc/order_db"
		type="javax.sql.DataSource" jdbcDriverRef="H2Driver">
		<properties	url="jdbc:h2:mem:order_db;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;TRACE_LEVEL_FILE=4" />
	</dataSource>
	
	<jndiEntry jndiName="manufacturedomain.workorder.url" value="${env.MANUFACTURE_WORKORDER_URL}"/>
	<jndiEntry jndiName="manufacturedomain.username" value="${env.MANUFACTURE_USER}"/>
	<jndiEntry jndiName="manufacturedomain.password" value="${env.MANUFACTURE_PASSWORD}"/>

	<openidConnectClient id="orderDomain"
		httpsRequired="false"
		issuerIdentifier="http://keycloak:8080/auth/realms/orderDomain"
		signatureAlgorithm="RS256"
		responseType="code"
		clientId="order-domain"
		clientSecret="3b07e614-4940-44fd-8349-a67634f01733"
		groupIdentifier="order-domain-roles"
		userIdentityToCreateSubject="preferred_username"
		inboundPropagation="supported"
		audiences="order-domain"
		validationMethod="introspect"
		tokenReuse="true"
		jwkEndpointUrl="http://keycloak:8080/auth/realms/orderDomain/protocol/openid-connect/certs"
		authorizationEndpointUrl="http://keycloak:8080/auth/realms/orderDomain/protocol/openid-connect/auth"
		tokenEndpointUrl="http://keycloak:8080/auth/realms/orderDomain/protocol/openid-connect/token"
		validationEndpointUrl="http://keycloak:8080/auth/realms/orderDomain/protocol/openid-connect/token/introspect">
	</openidConnectClient>

	<enterpriseApplication id="orderdomain"
		location="orderdomainEAR.ear" name="orderdomainEAR.ear">
	</enterpriseApplication>
</server>
