<server description="order domain server">
	<featureManager>
		<feature>javaee-8.0</feature>
	</featureManager>

	<basicRegistry id="basic" realm="dummyRealm" />

	<logging
		traceSpecification="com.ibm.ws.microprofile.health.*=all" />

	<httpEndpoint host="*" httpPort="${default.http.port}"
		httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

	<enterpriseApplication
		id="orderdomain"
		location="orderdomainEAR.ear"
		name="orderdomainEAR.ear" />

	<jdbcDriver id="H2Driver"
		javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" libraryRef="h2-lib" />
	<library id="h2-lib">
		<fileset dir="${shared.resource.dir}/h2"
			includes="h2-1.4.200.jar" />
	</library>

	<dataSource id="h2-db" jndiName="jdbc/order_db"
		type="javax.sql.DataSource" jdbcDriverRef="H2Driver">
		<properties
			url="jdbc:h2:mem:order_db;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;TRACE_LEVEL_FILE=4" />
	</dataSource>


	<!-- <basicRegistry id="basic" realm="PAI Realm"> -->
	<!-- <user name="testuser" password="pwd"/> -->

	<!-- <group name="ORDERDOMAIN.ENTITLEMENT"> -->
	<!-- <member name="testuser"/> -->
	<!-- </group> -->
	<!-- <group name="ORDERDOMAIN.ENTITLEMENT2"> -->
	<!-- <member name="testuser"/> -->
	<!-- </group> -->
	<!-- <group name="ORDERDOMAIN.ENTITLEMENT3"> -->
	<!-- <member name="testuser"/> -->
	<!-- </group> -->
	<!-- </basicRegistry> -->
	<!-- ​ -->
	<!-- <enterpriseApplication id="orderdomain" location="orderdomain.ear" 
		name="orderdomain"> -->
	<!-- <application-bnd> -->
	<!-- <security-role name="ORDERDOMAIN.ENTITLEMENT"> -->
	<!-- <group name="ORDERDOMAIN.ENTITLEMENT"/> -->
	<!-- </security-role> -->
	<!-- <security-role name="ORDERDOMAIN.ENTITLEMENT2"> -->
	<!-- <group name="ORDERDOMAIN.ENTITLEMENT2"/> -->
	<!-- </security-role> -->
	<!-- <security-role name="ORDERDOMAIN.ENTITLEMENT3"> -->
	<!-- <group name="ORDERDOMAIN.ENTITLEMENT3"/> -->
	<!-- </security-role> -->
	<!-- </application-bnd> -->
	<!-- </enterpriseApplication> -->

</server>
<!-- </server> -->